<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Film</title>
</head>
<body>
<h1>Add New Film</h1>
<form action="/film" method="POST">
    <label>Title: <input type="text" name="title"></label><br>
    <label>Director: <input type="text" name="director"></label><br>
    <label>Year: <input type="number" name="year"></label><br>
    <label>Genre: <input type="text" name="genre"></label><br>
    <button type="submit">Add Film</button>
</form>
<a href="/">Back to list</a>
</body>
</html>
